In [128]:
from pymongo import MongoClient
import pandas as pd
import numpy as np

In [129]:
mongo_client = MongoClient('18.228.200.47', 27017)
mongo_db = mongo_client['inatel']
mongo_collection = mongo_db['in242']

In [130]:
dados = list(mongo_collection.find())

In [131]:
df = pd.DataFrame(dados)

In [132]:
df.count()

_id            401775
temperatura    401775
data_coleta    401775
dtype: int64

In [133]:
df['temperatura'].mean()

22.48559388348154

In [134]:
df['temperatura'].std()

4.328234265695465

In [135]:
df['temperatura'].median()

22.485174541039573

In [136]:
df['temperatura'].quantile(q=0.25)

18.738115204130608

In [137]:
df['temperatura'].quantile(q=0.75)

26.23836661918918

In [138]:
df['temperatura'].mode()

0      15.031661
1      15.045122
2      15.072419
3      15.077022
4      15.100169
         ...
732    29.920403
733    29.930860
734    29.938830
735    29.960228
736    29.963698
Length: 737, dtype: float64

In [139]:
df['temperatura'].max()

29.99993263255314

In [140]:
df['temperatura'].min()

15.000054478813446

In [141]:
df['temperatura'].var()

18.733611858740357

In [142]:
df['temperatura'].mad()

3.7498643900544057

In [144]:
df.set_index('data_coleta').resample('min').mean().reset_index().sort_values('temperatura',ascending = False)

             data_coleta  temperatura
470  2019-11-03 00:04:00    25.525722
259  2019-11-02 20:33:00    24.400870
1054 2019-11-03 09:48:00    24.148367
163  2019-11-02 18:57:00    24.144007
737  2019-11-03 04:31:00    24.095628
...                  ...          ...
511  2019-11-03 00:45:00          NaN
512  2019-11-03 00:46:00          NaN
513  2019-11-03 00:47:00          NaN
514  2019-11-03 00:48:00          NaN
515  2019-11-03 00:49:00          NaN

[2736 rows x 2 columns]

In [145]:
df.to_csv("Sensor de Temperatura")